.DS_Store
node_modules/
#dist/

.idea
.settings
.classpath
.project
/target/
/webapps/
*.class
src/main/webapp/node_modules/
src/main/webapp/bower_components/

*.suo
*.ntvs*
*.njsproj
*.sln

node_modules/*
#dist/*


